* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    }
}

#header {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c0a32732-b033-43b3-be2a-8fee037a6146/387e6d8a-3859-4c05-b802-5360b593fe67/AZ-en-20210607-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;

    .logo {
        width: 240px;
    }

    button {
        background: transparent;
        border: none;
        color: #fff;
    }

    nav {
        ul {
            padding: 0px 14px;
            height: 130px;
            list-style: none;

            li {
                #language {
                    border: 1px solid #fff;
                    padding: 7px 10px;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }

        li {
            #sign {
                background: red;
                border-radius: 4px;
                font-weight: 600;
                padding: 7px 15px;
                margin-left: 30px;
            }
        }
    }

    .drop {
        position: relative;
        color: #fff;
        display: none;

        &.active {
            display: block;
        }

        ul {
            border-radius: 5px;
            position: absolute;
            right: 1%;
            background: gray;
            height: 55px;

            li {
                text-align: center;
                margin: 1px;
                cursor: pointer;
            }
        }
    }
}


#content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;

    .content {
        h1 {
            font-size: 65px;
            color: #fff;
        }

        h3 {
            color: #fff;
            font-weight: 400;
            margin-bottom: 30px;
        }

        h4 {
            font-size: 19px;
            margin-bottom: 15px;
            color: #fff;
        }

        form {
            display: flex;
            align-items: center;

            #text {
                width: 530px;
                height: 75px;
                line-height: 75px;

                &::placeholder {
                    padding: 0px 10px;
                }
            }

            #button {
                margin-left: 2px;
                width: 270px;
                height: 75px;
                color: #fff;
                background: red;
                font-size: 30px;
                font-weight: bold;
                border: none;
                line-height: 75px;
            }
        }
    }
}


@media(max-width: 991px) {
    .content {
        h1 {
            font-size: 45px !important;
            margin-top: 100px;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        #button {
            margin-top: 20px;
            width: 190px !important;
            height: 60px !important;
            color: #fff;
            background: red;
            font-size: 24px !important;
            font-weight: bold;
            border: none;
            line-height: 60px !important;
        }
    }

    #text {
        width: 600px !important;
        height: 65px !important;

        &::placeholder {
            padding: 0px 10px;
        }
    }
}


@media(max-width: 719px) {
    .content {
        h1 {
            margin-top: 70px;
            font-size: 40px;
        }
    }
}


@media(max-width: 619px) {
    .content {
        h1 {
            margin-top: 100px;
            font-size: 30px !important;
        }

        h3 {
            font-size: 23px !important;
            margin-bottom: 15px !important;
        }

        h4 {
            font-size: 19px !important;
        }
    }
}


@media(max-width:609px) {
    #text {
        width: 450px !important;
        height: 55px !important;

        &::placeholder {
            padding: 0px 10px;
        }
    }
}

@media(max-width:350px) {
    form {
        #text {
            width: 300px !important;
            height: 55px !important;

            &::placeholder {
                padding: 0px 10px;
            }
        }
    }

    #header {
        nav {
            ul {
                padding: 0px !important;

                #sign {

                    width: 50px;
                    padding: 7px 0px !important;
                    background-color: red;
                    font-size: 12px !important;
                }

                #language {
                    padding: 5px 0px !important;
                    font-size: 12px !important;
                }
            }
        }
    }
}


@media(max-width:474px) {
    #text {
        width: 350px !important;
        height: 55px !important;

        &::placeholder {
            padding: 0px 10px;
        }
    }

    form {
        #button {
            margin-top: 15px !important;
            width: 130px !important;
            height: 40px !important;
            color: #fff;
            background: red;
            font-size: 24px !important;
            font-weight: bold;
            border: none;
            font-size: 17px !important;
            line-height: 40px !important;
        }
    }
}

@media (max-width:577px) {
    #header {
        .logo {
            width: 130px;
            display: flex;
            align-items: center;
            height: 130px;
            justify-content: center;
        }
    }

    nav {
        ul {
            padding: 0px 6px !important;
            height: 130px;
            list-style: none;

            li {
                #language {
                    border: 1px solid #fff;
                    width: 110px;
                    font-size: 12px !important;

                    i {
                        margin-right: 5px;
                        font-size: 12px !important;
                    }
                }
            }
        }

        li {
            #sign {
                font-size: 14px !important;
                background: red;
                border-radius: 4px;
                font-weight: 600;
                padding: 7px 5px !important;
                margin-left: 10px !important;
                width: 90px;
            }
        }
    }
}

#film {
    padding: 50px 230px;
    background-color: black;
    border-top: 8px solid rgb(77, 77, 77);

    .film-text {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 50px;
        }

        p {
            font-size: 25px;
        }
    }

    .film-video {
        .imo {
            width: 500px;
            height: 100%;
        }
    }
}

#film-two {
    padding: 50px 150px;
    background-color: black;
    border-top: 8px solid rgb(77, 77, 77);

    .film-text {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 50px;
        }

        p {
            font-size: 25px;
        }
    }

    .film-video {
        .imo {
            width: 500px;
        }
    }
}


#film-three {
    padding: 50px 150px;
    background-color: black;
    border-top: 8px solid rgb(77, 77, 77);
    border-bottom: 8px solid rgb(77, 77, 77);

    .film-text {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 50px;
        }

        p {
            font-size: 25px;
        }
    }

    .film-video {
        .imo {
            width: 500px;
        }
    }
}

#film-four {
    padding: 50px 150px;
    background-color: black;
    border-bottom: 8px solid rgb(77, 77, 77);

    .film-text {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 50px;
        }

        p {
            font-size: 25px;
        }
    }

    .film-video {
        .imo {
            width: 500px;
        }
    }
}


@media (max-width:870px) {

    #film,
    #film-two,
    #film-three,
    #film-four {
        padding: 30px 100px !important;
    }
}

@media (max-width:763px) {

    #film,
    #film-two,
    #film-three,
    #film-four {
        padding: 30px 20px !important;

        .film-text {
            color: #fff;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 20px;

            h3 {
                font-size: 35px;
                text-align: center;
            }

            p {
                text-align: center;
                font-size: 20px;
            }
        }
    }
}

@media (max-width:767px) {
    #film {
        .film-col {
            order: 1;
        }
    }

    #film-three {
        .film-three-col {
            order: 1;
        }
    }

}

@media (max-width:405px) {

    #film,
    #film-two,
    #film-three,
    #film-four {
        padding: 30px 20px !important;

        .film-text {
            color: #fff;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 30px;

            h3 {
                font-size: 25px;
                text-align: center;
            }

            p {
                text-align: center;
                font-size: 17px;
            }
        }
    }
}

@media(max-width:788px) {

    #accardion {
        h3 {
            padding-top: 45px;
            margin-bottom: 45px;
            color: #fff;
            font-size: 30px !important;
        }

        .btn-col {
            #open-btn {
                background: #303030;
                border: none;
                color: #fff;
                width: 95% !important;
                height: 70px;
                text-align: left;
                display: flex;
                align-items: center;
                padding: 0px 15px;
                justify-content: space-between;
                font-size: 24px;
                margin-bottom: 7px;
                font-size: 20px !important;
            }
        }
    }
}


#accardion {
    background: black;
    border-bottom: 8px solid rgb(77, 77, 77);

    h3 {
        padding-top: 45px;
        margin-bottom: 45px;
        color: #fff;
        font-size: 50px;
    }

    .btn-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 60px;

        #open-btn {
            background: #303030;
            border: none;
            color: #fff;
            width: 65%;
            height: 70px;
            text-align: left;
            display: flex;
            align-items: center;
            padding: 0px 15px;
            justify-content: space-between;
            font-size: 24px;
            margin-bottom: 7px;
            i{
             font-size: 24px;
             &.active{
                transition: 500ms all;
                 transform: rotate(-12deg);

             }
            }
        }
    }

    .open-text {
        width: 65%;
        font-size: 25px;
        background: #303030;
        display: none;
        padding: 10px;
        margin-bottom: 10px;
        color: #fff;
        &.active{
          display: block;
        }
    }
}


@media(max-width:700px){
    .open-text {
        width: 95% !important;
        font-size: 16px !important ;
        background: #303030;
        display: none;
        padding: 10px;
        margin-bottom: 10px;
    }
}

footer {
    background: black;
    color: #fff;
    font-style: italic;
}